body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #EAEAEA;
  color: #000000;
  font-size: 1.2rem; /*tamaño de las letras*/
  line-height: 1.2em; /* interlineado */
  margin: 0;
}

h1 {
  font-size: 2rem;
  line-height: 3em;
  text-align:center;
}

/* parrafos */
p {
  margin-bottom: 1.6em; 
}

.hidden {
  display:none;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.header {
  background: #FA9753;
  color: white;
  padding: 2rem 0;

  /* hacer el menu fijo */
  position: fixed;
  left: 0;
  top: 0;
  /* ocuapamos todo el ancho */
  right: 0;
}

.header a {
  color: white;
  text-decoration: none;
}

.logo-nav-container {
  display: flex;
  justify-content: space-between;
  /* lo alineamos al centro */
  align-items: center;

  flex-wrap: wrap;
}

.main h1.formulario_titulo {
	text-align: center;
}


/* logo */
.logo {
  letter-spacing: 0.15em;
  font-size: 2.2em;
}

a.logo {
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.2s linear;
  border-radius: 5px;
}

a.logo:hover{
	background: #DF7F3D;
}


.MenuNavegacion body {
  margin: 0;
  position: fixed;
}

.MenuNavegacion ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 12%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.MenuNavegacion li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.MenuNavegacion li a.active {
  background-color: #4CAF50;
  color: white;
}

.MenuNavegacion li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.CuentasBancarias {
	margin-left: 12%;
	padding-left: 1%;
	padding-right: 1%;
	padding-bottom: 1%;
}

.Cuenta{
	border : 0.2em inset #555;
	margin-top: 1em;
	padding: 1%;
}

.main {
  padding-top: 6.5rem;
  
}

.formulario {
  padding-left: 2em;
  padding-right: 2em;
  max-width: 26em;
  background-color: #FFCFA4;
  margin: 0 auto;
  border : 0.2em inset #876229;
  border-radius: 0.3em;
}


.formulario h1 {
	font-size: 2rem;
  	line-height: 0.5em;
}

.formulario h2 {
	font-size: 1rem;
  	line-height: 0.5em;
}

.formulario input {
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
  width: 100%;
  padding: 0.5em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
  border: none; 
  color: #525c66; 
  font-size: 1em;
  resize: none;
}

.formulario .button {
	display: block;
	background-color: #D2D2D2;
	padding: 0.625em 2.8em 0.625em 2.8em;
	border: 0;
	font-size: 1em; 
	border : 0.2em inset #7C7C7C;
	border-radius: 0.2em;
	color: 	negro;
  	font-family: "Roboto", sans-serif;
}

.formulario .button:hover {
	background: #AFAFAF;
}


