<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">

 <!-- Vinculaciones de los Servlet -->
 
 <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>es.uco.iw.servlet.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <servlet-name>Perfil</servlet-name>
    <servlet-class>es.uco.iw.servlet.PerfilUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Perfil</servlet-name>
    <url-pattern>/Perfil</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RegistrarUsuario</servlet-name>
    <servlet-class>es.uco.iw.servlet.RegistrarUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrarUsuario</servlet-name>
    <url-pattern>/RegistrarUsuario</url-pattern>
    <url-pattern>/CrearUsuario</url-pattern>   
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GestionarClientes</servlet-name>
    <servlet-class>es.uco.iw.servlet.CuentasClientesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionarClientes</servlet-name>
    <url-pattern>/GestionarClientes</url-pattern>
    <url-pattern>/ListadoClientes</url-pattern>   
    <url-pattern>/CancelarCuentaUsuario</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>Transferencias</servlet-name>
    <servlet-class>es.uco.iw.servlet.TransferenciaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Transferencias</servlet-name>
    <url-pattern>/MisTransferencias</url-pattern>
    <url-pattern>/GestionarTransferencias</url-pattern>    
  </servlet-mapping>
  
    <servlet>
    <servlet-name>PagosBizum</servlet-name>
    <servlet-class>es.uco.iw.servlet.listarPagosBizumController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PagosBizum</servlet-name>
    <url-pattern>/MisPagosBizum</url-pattern>
    <url-pattern>/GestionarPagosBizum</url-pattern>    
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>RealizarTransferencia</servlet-name>
    <servlet-class>es.uco.iw.servlet.RealizarTransaccionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RealizarTransferencia</servlet-name>
    <url-pattern>/RealizarTransferencia</url-pattern>
    <url-pattern>/RealizarTransaccion</url-pattern>
    
  </servlet-mapping>
  
   <servlet>
    <servlet-name>RealizarPagoBizum</servlet-name>
    <servlet-class>es.uco.iw.servlet.RealizarPagoBizumController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RealizarPagoBizum</servlet-name>
    <url-pattern>/RealizarTransferenciaBizum</url-pattern>
    <url-pattern>/RealizarPago</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
    <servlet-name>Cuentas</servlet-name>
    <servlet-class>es.uco.iw.servlet.CuentaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cuentas</servlet-name>
    <url-pattern>/MisCuentas</url-pattern>
    <url-pattern>/GestionarCuentas</url-pattern>
    <url-pattern>/CancelarCuentaBancaria</url-pattern>     
  </servlet-mapping>

  <servlet>
    <servlet-name>GestionarTitulares</servlet-name>
    <servlet-class>es.uco.iw.servlet.GestionarTitularesCuentaBancariaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionarTitulares</servlet-name>
    <url-pattern>/GestionarTitulares</url-pattern>
    <url-pattern>/ActualizarTitular</url-pattern>
    <url-pattern>/GestionarCotitulares</url-pattern>     
  </servlet-mapping>
  
   <servlet>
    <servlet-name>EliminarTitular</servlet-name>
    <servlet-class>es.uco.iw.servlet.EliminarCotitularController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarTitular</servlet-name>
    <url-pattern>/EliminarCotitular</url-pattern>
    <url-pattern>/EliminarTitular</url-pattern>  
  </servlet-mapping>


  <servlet>
    <servlet-name>ModificarPassword</servlet-name>
    <servlet-class>es.uco.iw.servlet.CambiarPasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificarPassword</servlet-name>
    <url-pattern>/ModificarPassword</url-pattern>
    
  </servlet-mapping>

 <servlet>
    <servlet-name>ResetPassword</servlet-name>
    <servlet-class>es.uco.iw.servlet.ResetPasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPassword</servlet-name>
    <url-pattern>/ResetPassword</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ModificarCuentas</servlet-name>
    <servlet-class>es.uco.iw.servlet.ModificarCuentaBancariaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificarCuentas</servlet-name>
    <url-pattern>/ModificarCuenta</url-pattern> 
    <url-pattern>/ModificarSaldo</url-pattern> 
  
       
  </servlet-mapping>

    <servlet>
    <servlet-name>RegistrarCuentaBancaria</servlet-name>
    <servlet-class>es.uco.iw.servlet.RegistrarCuentaBancariaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrarCuentaBancaria</servlet-name>
    <url-pattern>/RegistrarCuentaBancaria</url-pattern>
    <url-pattern>/RegistrarCuenta</url-pattern>
    <url-pattern>/CrearCuentaBancaria</url-pattern>
    
  </servlet-mapping>


  <servlet>
    <servlet-name>Tarjetas</servlet-name>
    <servlet-class>es.uco.iw.servlet.TarjetaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tarjetas</servlet-name>
    <url-pattern>/MisTarjetas</url-pattern>
    <url-pattern>/GestionarTarjetas</url-pattern>   
    <url-pattern>/CancelarTarjeta</url-pattern>   
     
  </servlet-mapping>
  
    <servlet>
    <servlet-name>RegistrarTarjeta</servlet-name>
    <servlet-class>es.uco.iw.servlet.RegistrarTarjetaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrarTarjeta</servlet-name>
    <url-pattern>/RegistrarTarjeta</url-pattern>
    <url-pattern>/ContratarTarjeta</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Home</servlet-name>
    <servlet-class>es.uco.iw.servlet.HomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>

 
  <context-param>
    <param-name>username</param-name>
    <param-value>HokuroAdmin</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>AdL734Mkj692RJd126#</param-value>
  </context-param>
  <context-param>
    <param-name>bdName</param-name>
    <param-value>IW</param-value>
  </context-param>
  <!--
 <context-param>
    <param-name>server</param-name>
    <param-value>hokurobank.ddns.net</param-value>
  </context-param>
 -->
    <!-- 
  <context-param>
    <param-name>server</param-name>
    <param-value>192.168.0.14</param-value>
  </context-param>
   -->
    
  <context-param>
    <param-name>server</param-name>
    <param-value>localhost</param-value>
  </context-param>
   
  <context-param>
    <param-name>port</param-name>
    <param-value>3306</param-value>
  </context-param>
  <context-param>
    <param-name>dbURL</param-name>
    <param-value>jdbc:mysql://</param-value>
  </context-param>
  <context-param>
    <param-name>sql</param-name>
    <param-value>/WEB-INF/sql.properties</param-value>
  </context-param>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <error-page>
    <location>/include/error.jsp</location>
  </error-page>
</web-app>